<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dash.css">
    <title>Dashboard</title>
</head>
<body>

    <div class="profile-container">
        <img src="/static/images/demo.jpg" alt="Profile Picture" class="profile-pic">
    </div>
    <div class="top-center">
      <img src="/static/images/Logo.png" alt="Center Image" class="center-image">
      <p class="purple-text">Planet</p>
  </div>

    <div class="bell-container">
        <img src="/static/images/bell.png" alt="Bell Icon" class="bell-icon">
    </div>
    <div class="greeting">
      <b><h id="greet">Hello,</h></b>
      <b><h id="greet1">Arun Thomas</h></b>

  </div>
  <div class="image-container">
    <img src="/static/images/coco.jpg" alt="Image Description">
    <div class="description">
        <p>Your description goes here.</p>
    </div>
</div>

</body>
</html>
