body {
    margin: 20px;
    background-color:#EEE8FF;
}

.profile-container {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 4px solid #9878F4; 
    border-radius: 50%;
    overflow: hidden; 
}


.profile-image {
    width: 80px; 
    height: 100px; 
    object-fit: cover; 
    border-radius: 50%;
}


.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bell-container {
    position: absolute;
    top:20px;
    right: 10px;
}

.bell-icon {
    width: 30px;
    height: 30px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-image {

    width: 50px;
    height: 50px;
}

.purple-text {
    color: #9878F4;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.top-center{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;



}

.greeting {
    position: relative; 
    margin-right:200px;
    
    top:40px;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#greet1{
    font-size:25px;
    color:#9878F4;
}
#greet{
    font-size:25px;

}

.image-container {
    position: relative;
    left:2px;
    margin:20px;
    max-width: 700px; /* Adjust the maximum width as needed */
    overflow: hidden;
    width:400px;
    box-shadow: 0 0 20px rgba(150, 120, 244, 0.7); /* Purple shaded shadow */
    border-radius: 15px; /* Rounded edges */
    top:100px;

}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0; /* Rounded top edges */
}

.description {
    padding: 15px;
    background-color: #fff; /* Set a background color for the description */
    border-radius: 0 0 15px 15px; /* Rounded bottom edges */
}

.description p {
    margin: 0;
}
.container {
    text-align: center; 


    }
    .posts {
      display: inline-block; 
      align-items: center;
      background-color: whitesmoke;
      position: relative;
      size: 50px;
      height:50px;
  }
  
    
  
 .wrapper-demo {
	 text-align: center;
	 margin-top: 40vh;
}
 :focus {
	 outline: none;
}
 .toggle-icon {
	 width: 45pt;
	 height: 45pt;
	 font-size: 45pt;
	 position: relative;
	 color: gray;
	 cursor: pointer;
	 border: none;
	 background-color: transparent;
}
 .toggle-icon:before, .toggle-icon:after {
	 position: absolute;
	 top: 0;
	 left: 0;
	 transition: all 0.3s ease-out;
	 content: "\f08a";
	 font-family: fontawesome;
}
 .toggle-icon:hover:before {
	 transform: scale(1.2);
}
 .toggle-icon:active:before {
	 transition: none;
	 transform: scale(1);
}
 .toggle-icon:after {
	 opacity: 0;
}
 .toggle-icon.-checked {
	 color: #a12c2c;
}
 .toggle-icon.-checked:before {
	 content: "\f004";
}
 .toggle-icon.-checked:after {
	 content: "\f004";
	 animation: likeFly 0.6s ease-in;
}
 @keyframes heartbeat {
	 from {
		 opacity: 1;
	}
	 to {
		 transform: scale(3);
		 opacity: 0;
	}
}
 @keyframes likeFly {
	 from {
		 opacity: 1;
	}
	 to {
		 transform: scale(3) rotate(45deg) translateY(-90px);
		 opacity: 0;
	}
}
 

    
    
    .glassy-footer{
        position:absolute;
        bottom:12%;
        padding:26px;
        height:37px;
        width:600px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .glassy-footer::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    pointer-events: none;
  }
  @charset "UTF-8";
*, *:before, *:after {
  position: relative;
  box-sizing: border-box;
}

:root {
  --color-bg: #FDF1F2;
  --color-heart: #EA442B;
  --easing: cubic-bezier(.7,0,.3,1);
  --duration: 0.75s;
}



.like-button {
  font-size: 45px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 50%;
  background: transparent;
  width: 1em;
  height: 1em;
  padding: 2px;
  margin: 0;
  outline: none;
  z-index: 2;
  -webkit-transition: -webkit-transform var(--duration) var(--easing);
  transition: -webkit-transform var(--duration) var(--easing);
  transition: transform var(--duration) var(--easing);
  transition: transform var(--duration) var(--easing), -webkit-transform var(--duration) var(--easing);
  cursor: pointer;
  position: absolute;   
  bottom: 15%;
  left:30px;
}
.like-button:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  transition: inherit;
}

.like-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: inherit;
  z-index: -1;
}
.like-button:active:before {
  -webkit-animation: depress-shadow var(--duration) var(--easing) both;
          animation: depress-shadow var(--duration) var(--easing) both;
}
.like-button:focus:after {
  -webkit-animation: depress var(--duration) var(--easing) both;
          animation: depress var(--duration) var(--easing) both;
}
@-webkit-keyframes depress {
  from, to {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(5%) scale(0.9);
            transform: translateY(5%) scale(0.9);
  }
}
@keyframes depress {
  from, to {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: translateY(5%) scale(0.9);
            transform: translateY(5%) scale(0.9);
  }
}
@-webkit-keyframes depress-shadow {
  from, to {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes depress-shadow {
  from, to {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
.like-wrapper {
  display: grid;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: 1;
}
.like-wrapper > * {
  margin: auto;
  grid-area: 1 / 1;
}

.heart {
  width: .5em;
  height: .5em;
  display: block;
  -webkit-transform-origin: center 80%;
          transform-origin: center 80%;
}
.heart > path {
  stroke: var(--color-heart);
  stroke-width: 2;
  fill: transparent;
  -webkit-transition: fill var(--duration) var(--easing);
  transition: fill var(--duration) var(--easing);
}
.like-button:focus .heart > path {
  fill: var(--color-heart);
}
.like-button:focus .heart {
  -webkit-animation: heart-bounce var(--duration) var(--easing);
          animation: heart-bounce var(--duration) var(--easing);
}
@-webkit-keyframes heart-bounce {
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  0%, 80%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes heart-bounce {
  40% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  0%, 80%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Added wrapper to prevent layout jank with resizing particles */
.particles {
  width: 1px;
  height: 1px;
}

.particle {
  position: absolute;
  top: 0;
  left: 0;
  height: .1em;
  width: .1em;
  border-radius: .05em;
  background-color: var(--color);
  --percentage: calc( var(--i) / var(--total-particles) );
  --Θ: calc( var(--percentage) * 1turn );
  -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
          transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0) scaleY(0);
  -webkit-transition: all var(--duration) var(--easing);
  transition: all var(--duration) var(--easing);
}
.like-button:focus .particle {
  -webkit-animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
          animation: particles-out calc(var(--duration) * 1.2) var(--easing) forwards;
}
@-webkit-keyframes particles-out {
  50% {
    height: .3em;
  }
  50%, 60% {
    height: .3em;
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
            transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
  }
  60% {
    height: .2em;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
            transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
  }
}
@keyframes particles-out {
  50% {
    height: .3em;
  }
  50%, 60% {
    height: .3em;
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
            transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(0.8em) scale(1);
  }
  60% {
    height: .2em;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
            transform: translate(-50%, -50%) rotate(var(--Θ)) translateY(1em) scale(0);
  }
}
.ripple {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
.ripple:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.4em solid var(--color-heart);
  border-radius: inherit;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.like-button:focus .ripple:before {
  -webkit-animation: ripple-out var(--duration) var(--easing);
          animation: ripple-out var(--duration) var(--easing);
}
@-webkit-keyframes ripple-out {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}
@keyframes ripple-out {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}


/* Reset the animation when clicking again! */
.like-button:focus {
  pointer-events: none;
  cursor: normal;
}


.
.center-container{

  display:flex;
  min-height:100vh;
  
  }

body >div {margin:auto;}




